@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, h1, h2, h3, p, table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f7f8f3;
    color: #002c3e;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

header nav ul li a { 
    color: #002c3e;
    display: block;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
}

nav .dropdown {
    display: none;
    position: absolute;
    background-color: #35424a;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
nav li:hover .dropdown {
    display: block;
}